.content {
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-heading {
  text-transform: uppercase;
  font-family: 'headings', sans-serif;
  font-size: calc(24px * var(--textScale));
  font-weight: 700;
}

.content-meta {
  font-size: calc(13px * var(--textScale));
  margin-top: 4px;

  a {
    color: var(--cardLinkColor);

    &:hover {
      text-decoration: underline;
    }
  }
}

.content-description {
  font-size: calc(13px * var(--textScale));
  line-height: 1.65;
  margin-top: 12px;

  & > * + * {
    margin-top: 20px;
  }

  li + li {
    margin-top: 4px;
  }

  ul li {
    list-style: disc;
    margin-left: 18px;
  }

  ol li {
    list-style: decimal;
    margin-left: 18px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: calc(13px * var(--textScale));
    font-weight: bold;
  }

  & > h1 + *,
  & > h2 + *,
  & > h3 + *,
  & > h4 + *,
  & > h5 + *,
  & > h6 + * {
    margin-top: 4px;
  }

  a {
    color: var(--cardLinkColor);

    &:hover {
      text-decoration: underline;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid $border;
    text-align: left;
    padding: 7px;
    font-size: 13px;
  }
}

.content-special-button {
  background: var(--scanBackgroundColor);
  color: var(--scanTextColor);
  width: 100%;
  border-radius: calc(var(--borderRadius) * 2);
  line-height: 50px;
  margin-top: 18px;
  padding-top: 2px;
  font-weight: 600;
  position: relative;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--loading:disabled {
    opacity: 0.75;
    pointer-events: none;
  }

  &:after {
    opacity: 0;
    transition: 0.2s opacity;
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -10px;
    animation: 1s infinite rotate linear;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.229 1.173a9.25 9.25 0 1011.655 11.412 1.25 1.25 0 10-2.4-.698 6.75 6.75 0 11-8.506-8.329 1.25 1.25 0 10-.75-2.385z' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
  }

  &--loading:after {
    opacity: 1;
  }
}
